body{
   background-color: whitesmoke;
   margin: 0px;
   padding: 0px;
}

#bar1{
    display: flex;
    justify-content:center;
    background-color: #9EDC4B;
    width: 100%;    
   margin-top: -08px;
   height: 10vh;
}

#itensBar1{
    margin-top: 20px;
    display: flex;
    align-items: center;  
    height: 5vh;    

}


#logoBar{ 
   
    padding-left: 5%;
    margin-top: 5px;
    height: 8vh;  
    width: 90px;

}
#areaBuscar{      
    margin-left: 3%;
        background-color:white;
        border:solid 1px;
        border-radius:15px;
        width:200px;
        height: 3vh;
      }  

#IconLupa{
    
 
    height: 5vh;
}

#iconBuy{    
  
    height: 4vh;
}

#iconCadastro{    
    margin-left: 5%;
   
    height: 4vh;;
}



#bar2{
    background-color: #9EDC4B;
    width: 100%;
    height: 05vh;          
    display: none;
}

.h1{
    margin-top: 90%;
}





#botao1{
  background-color: #9EDC4B;
  width: 25%;
  height: 40px;
  border-radius: 10%;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 140%;
  }

  #botao2{
  background-color: #9EDC4B;
  width: 25%;
  height: 40px;
  border-radius: 10%;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 140%;
  margin-left: 5%;
    }

    #contBotao{
        display: flex;       
        margin-top: 2%;
       
       
    }

    #colBotao{
        margin-left: 30%;       
        width: 100%;                  
    }

    #banner1{
       width: 100%;
        height: 300px;
    }

    
  #botao3{
    background-color: #9EDC4B;
    width: 100%;
    height: 80px;
    border-radius: 10%;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 140%;
    margin-left: 5%;
      }

    .line{
        width: 100%;
        height: 2px;
        background-color: black;
    }

    #contBotao3{
        margin-top: 2%;
    }


 



