/*  titulos */

.tituloBuscar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 03%;
}

#itensTitulo {
  display: flex;
  justify-content: space-evenly;
  width: 20%;
}


/* Menu filtro */

.paste-button {
  position: relative;
  display: block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button {
  background-color: #9EDC4B;
  color: #212121;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid transparent;
  border-radius: 15px;
  cursor: pointer;

}

/* alinhamento da palavra "Filtro" dentro do botão */
#btFiltro {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: -4%;
  text-decoration-color: #1a1d15;
}


.dropdown-content {
  display: none;
  font-size: 13px;
  position: absolute;
  z-index: 1;
  min-width: 200px;
  background-color: whi;
  border: 2px solid #9EDC4B;
  border-radius: 0px 15px 15px 15px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  color: #212121;
  padding: 8px 10px;
  text-decoration: none;
  display: block;
  transition: 0.1s;

}

.dropdown-content a:hover {
  background-color: #9EDC4B;
  color: #212121;
}

.dropdown-content a:focus {
  background-color: #9EDC4B;
  color: #212121;
}

.dropdown-content #top:hover {
  border-radius: 0px 13px 0px 0px;
}

.dropdown-content #bottom:hover {
  border-radius: 0px 0px 13px 13px;
}

.paste-button:hover button {
  border-radius: 15px 15px 0px 0px;
}

.paste-button:hover .dropdown-content {
  display: block;
}




/*  tela1 section  para dividir tela de cards com filtro lateral  */


#tela1{
  background-color: #00acee;
  height: 1000px;
  margin-top: 11%;
 


}

#telaCards{
  background-color: #66757f;
  width: 70%;
  height: 100vh;
  margin-right: 10%;
}



/* cards buscar */

#cardBuscar1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  font-family: "Arial";
  width: 90%;
  margin-top: -10%;
  /*   background-color: #137de8;       para identificar o card  */
}


#cardBuscar2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  font-family: "Arial";
  width: 90%;
  margin-top: 10%;
  /*   background-color: #9EDC4B;  para identificar o card  */
}

/*style cards */

.card {
  height: 350px;
  border-radius: 12px;
  box-shadow: 4px 4px 12px #aaaa;
  width: 205px;
  margin-left: 05%;
  margin-top: 23%;

}

.card img {
  width: 100%;
  height: 130px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 165px;
  width: 198px;
  border-radius: 12px;
  margin-top: -10%;

}

.card h1 {
  margin-top: 10%;
  font-size: 1.2rem;
}

#textH1 {
  margin-top: 45%;
  font-size: 1.2rem;
}

.card h2 {
  font-size: .9rem;

}

.card span {
  font-size: .9rem;
  color: rgb(33, 32, 32);
}

.card button {
  background-color: #9EDC4B;
  height: 30px;
  border: none;
  padding: 4px;
  width: 120%;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  margin-left: -05%;
}



/*  butão comprar css para animação */
button:hover {
  transition: .2s;
  border: 2px dashed #9EDC4B;
  background-color: #fff;
  color: #9EDC4B;
  display: flex;
  justify-content: space-around;
  align-items: center;
}




img {
  margin-top: 2%;
}

#img1 {
  margin-top: 10%;
  width: 200px;
  height: 180px;
}

#img2 {
  margin-top: 10%;
  width: 200px;
  height: 180px;
}

#img3 {
  margin-top: 10%;
  width: 200px;
  height: 180px;
}

#img4 {
  margin-top: 10%;
  width: 200px;
  height: 180px;
}


#img5 {
  margin-top: 10%;
  width: 200px;
  height: 180px;
}


#img6 {
  margin-top: 10%;
  margin-left: 13%;
  width: 200px;
  height: 180px;
  ;
}


#img7 {
  margin-left: 13%;
  width: 150px;
  height: 200px;
  ;
}


#img8 {
  margin-top: 10%;
  margin-left: 13%;
  width: 150px;
  height: 150px;
}

a {
  text-decoration: none;
}


/* style index */


footer {
  background-color: #9EDC4B;
  width: 100%;
  height: 650px;
  margin-top: 15%;
}

.line {
  width: 100%;
  height: 2px;
  background-color: black;
  display: none;
}

footer .img {
  text-align: center;

}

footer #imgF {
  margin-top: -1;
  height: 250px;
  text-align: center;
}

.Pagamentos {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.global {
  text-align: center;
  align-items: center;
}

.itensFooter {
  margin-top: -10%;

}



/* CSS midias */


.socials-container {
  width: fit-content;
  height: fit-content;
  gap: 25px;
  display: flex;
  margin-left: 40%;
  align-items: center;
  justify-content: center;
  background-color: #9EDC4B;
}

.social {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.twitter:hover {
  background: linear-gradient(45deg, #66757f, #00acee, #36daff, #dbedff);
}

.facebook:hover {
  background: linear-gradient(45deg, #134ac0, #316ff6, #78a3ff);
}

.google-plus:hover {
  background: linear-gradient(45deg, #872419, #db4a39, #ff7061);
}

.instagram:hover {
  background: #f09433;
  background: -moz-linear-gradient(45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%);
  background: -webkit-linear-gradient(45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%);
  background: linear-gradient(45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.social svg {
  fill: black;
  height: 20px;
}


/*  body e navbar  */

body {
  background-color: whitesmoke;
  margin: 0px;
  padding: 0px;
}

#bar1 {
  display: flex;
  justify-content: center;
  background-color: #9EDC4B;
  width: 100%;
  margin-top: -08px;
  height: 10vh;
}

#itensBar1 {
  margin-top: 20px;
  display: flex;
  align-items: center;
  height: 5vh;

}


#logoBar {

  padding-left: 5%;
  margin-top: 5px;
  height: 8vh;
  width: 90px;

}

#areaBuscar {
  margin-left: 3%;
  background-color: white;
  border: solid 1px;
  border-radius: 15px;
  width: 200px;
  height: 3vh;
}

#IconLupa {


  height: 5vh;
}

#iconBuy {

  height: 4vh;
}

#iconCadastro {
  margin-left: 5%;

  height: 4vh;
  ;
}