body {
   background-color: whitesmoke;
   margin: 0px;
   padding: 0px;
}

#bar1 {
   display: flex;
   justify-content: center;
   background-color: #9EDC4B;
   width: 100%;
   margin-top: -08px;
   height: 10vh;
}

#itensBar1 {
   margin-top: 20px;
   display: flex;
   align-items: center;
   height: 5vh;

}


#logoBar {

   padding-left: 5%;
   margin-top: 5px;
   height: 8vh;
   width: 90px;

}

#areaBuscar {
   margin-left: 3%;
   background-color: white;
   border: solid 1px;
   border-radius: 15px;
   width: 200px;
   height: 3vh;
}

#IconLupa {


   height: 5vh;
}

#iconBuy {

   height: 4vh;
}

#iconCadastro {
   margin-left: 5%;
   height: 4vh;   
}

footer{
   background-color: #9EDC4B;
   width: 100%;
   height: 40vh;
   text-align: center;
   align-items: center;
}

footer #imgF{
   height: 250px;    
}



